# Byte-compiled / cache
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
.env/
.venv/

# VS Code settings
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Mac system files
.DS_Store

# Environment files
.env
*.env

# Python packaging
build/
dist/
*.egg-info/

*.gguf